@charset "utf-8";
.news-content{
  background: #F2F2F2;
}
.bg-white{
  background: #fff;
}
.table-list{
  padding: 20px 20px 10px;
}
.el-table .cell{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-response{
  width: 100%;
}
.table-list-footer{
  text-align: center;
  margin: 20px 0 0;
}
