@charset "utf-8";
.left-menu{
  overflow-x: hidden;
  background: #434A50;
}
.page-index,.news-container{
  width: 100%;
  height: 100%;
}
.main-content,.left-menu{
  min-height: 800px;
}
.layout-header{
  padding: 0;
}
