@charset "utf-8";
.page-header{
  height: 60px;
  background: #A5A099;
  line-height: 60px;
  color: #231D16;
  font-size: 20px;
  padding-left: 120px;
  .user-info{
    float: right;
    margin-right: 60px;
  }
}

